@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
    font-family: Raleway, serif;
}

.container > div.alert {
    max-width: 500px;
}

.container > div.alert,
.container > div.media {
    margin: 60px auto;
}

.container > form {
    max-width: 600px;
}

.container .row {
    display: flex;
    justify-content: space-between;
}